
html{
  scroll-behavior: smooth;
    scrollbar-width:normal;
    scrollbar-color:#db1d5c #dddddd;
}
.App {
  text-align: center;
}

.beffect{
  backdrop-filter: blur(1px);
}

.optionstabs{
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 25px;
  justify-content:space-around;
}

.tab{
  padding: 6px;
  height: 20%;
  border-radius: 8%;
  backdrop-filter: blur(3px);
  justify-content:center;
}

#tab2{
    width: 100%;
    margin-top: 20%;
    padding: 54%;
  backdrop-filter: blur(15px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
